/* clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* below are the main layout classes */

.main-body {
    width:100%;
    height:100vh;
    background-color:black;
    background-image: url("../images/cecil-bgr.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
}

.your-char-box {

}

.your-char-lbl {
    clear: left;
}

.enemy-char-box {

}

.enemy-char-lbl {
    clear: left;
}

.figh-lbl {
    clear: left;
}

.your-box {

}

.dfndr-char-lbl {
    clear: left;

}
.dfndr-char-box {

}

.restart-box {
    clear: left;
    display:none;
}
.game-col {
    width:60%;
    float:left;
    padding: 20px;
}

.right-side-col {
    width:35%;
    float:right;
    padding: 20px;
}

/* below are the game element classes */

.char-card {
    float: left;
    width:175px;
    height:125px;
    border: 5px solid grey;
    padding: 20px;
    background-color:blue;
}

.char-card-img {
    width:175px;
    height: 100px;
}

.char-card-hp {
    padding-top: 8px;
    float:right;
    display:block
}

.char-card-label {
    padding-top: 8px;
    float:left;
    display:block;
}

.enemy-card {
    background-color: red;
}

.defender-card {
    background-color: black;
}