/* google font */

@import url('https://fonts.googleapis.com/css?family=Volkhov');

/* clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* below are the main layout classes */

.main-body {
    width:100%;
    height:100vh;
    background-color:black;
    background-image: url("../images/cecil-bgr.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
}

.your-char-lbl {
    clear: left;
    margin-top:10px
}

.title-lbl {
    display: block;
    float: left;
}

.enemy-char-box {
    height:175px;
}

.enemy-char-lbl {
    clear: left;
    margin-top:10px;
}

.figh-lbl {
    clear: left;
    margin-top:10px;
}

.dfndr-char-lbl {
    clear: left;
    margin-top:10px;

}
.dfndr-char-box {
    height:175px;
}

.restart-box {
    clear: left;
    display:none;
}
.game-col {
    width:930px;
    float:left;
    padding: 20px;
}

.right-side-col {
    width:auto;
    padding: 20px;
}

/* below are the game element classes */

.char-card {
    float: left;
    width:175px;
    height:125px;
    border: 5px solid grey;
    padding: 20px;
    margin-right:5px;
    background-color:blue;
}

.char-card-img {
    width:175px;
    height: 100px;
}

.char-card-hp {
    padding-top: 8px;
    float:right;
    display:block
}

.char-card-label {
    padding-top: 8px;
    float:left;
    display:block;
}

.enemy-card {
    background-color: red;
}

.defender-card {
    background-color: black;
}

#fight-button {
    margin-top:10px;
}

/* styling for fonts */


h2,h5 {
    font-family: 'Volkhov', serif;
    letter-spacing: -1px;  
}

h2 {
    font-size:2em;
}

h3 {
    font-size:1.1em;
}